<div ng-controller="ChatController" class="content chat-content" ng-class="{active : activetool === 'CHAT'}">  
    
    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="mdi-action-question-answer"></i> <%= __('viewer.chat.title') %></h3>
                </div>
                <div class="pull-right label-menu">
                    <h3>MENU</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-area" id="chat-area" scroll-glue>
        <div class="chat-window-wrapper" id="messages-wrapper">
            <div class="chat-messages">

                <div class="user-details-wrapper" >
                    <div class="user-profile" style="top: 8px;">
                        <img src="/images/profiles/icon.png" alt="<%= __('app_name') %>" width="35" height="35">
                    </div>

                    <div class="user-details">
                        <div class="bubble">    
                            <%= __('viewer.chat.welcome', { name : '{{ current.name }}'} ) %>
                        </div>
                    </div>                  
                    <div class="clearfix"></div>
                </div>

                <div ng-repeat="message in current.messages | toArray | orderBy:'+createdAt' track by message.id"
                     ng-class="{'pull-right':message.user.id === user.id}"
                     class="user-details-wrapper">
                    <div ng-class="{
                        'text-right text-success' : message.user.id === user.id,
                        'text-info' :               message.user.id !== user.id
                    }" class="m-b-5">
                        <span class="semi-bold">
                            {{ getUsername(message.user) }}
                        </span>
                    </div>
                    <div class="user-profile avatar {{ getAvatar(message.user) }}"
                         ng-class="{ownm : message.user.id == user.id}" >
                    </div>

                    <div class="user-details">
                        <div ng-class="{sender:message.user.id === user.id}" class="bubble">    
                            {{ ::message.message }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="chat-input">
        <div class="input-field col s12">
            <input id="message" ng-model="text" type="text" class="validate">
            <label for="message"><%= __('viewer.chat.message_placeholder') %></label>
        </div>
    </div>

    <button class="btn waves-effect waves-light send-chat" ng-click="post()" name="action">
        <%= __('viewer.chat.send') %>
        <i class="mdi-content-send right"></i>
    </button>
</div>