<div ng-controller="WallController" class="content wall-content" ng-class="{active : activetool === 'WALL'}">

    <div class="header navbar navbar-inverse ">
        <div class="navbar-inner">
            <div class="header-quick-nav">
                <div class="pull-left">
                    <h3><i class="mdi-communication-live-help"></i> <%= __('viewer.wall.title') %></h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="timeline-search">
            <select ng-model="filter" style="width:100%">
                <option value="" selected="selected"><%= __('viewer.wall.categories') %></option>
                <option ng-repeat="tag in shared.tags track by tag.id" value="{{ ::tag.id }}">{{ ::tag.name }}</option>
            </select>
    </div>

    <div class="col-md-12 timeline">
        <ul class="cbp_tmtimeline">
             <li class="animate-repeat" ng-show="!hideFirst && count( questions ) < 4">
                <div class="cbp_tmicon user-profile">
                    <img src="/images/profiles/icon.png" alt="<%= __('app_name') %>" width="60" height="60">
                </div>
                
                <div class="cbp_tmlabel">
                    <div class="p-t-10 p-l-30 p-r-20 p-b-20 xs-p-r-10 xs-p-l-10 xs-p-t-5">
                        <h4 class="inline m-b-5">
                            <span class="text-success semi-bold m-r-10">
                                <%= __('app_name') %>
                            </span>
                        </h4>
                        <p class="m-t-5 dark-text">
                            <%= __('viewer.wall.first.welcome') %><br/><br/>
                            <%= __('viewer.wall.first.ask_question') %><br/>
                            <%= __('viewer.wall.first.respect') %> <i class="mdi-social-mood"></i><br/><br/>
                            <%= __('viewer.wall.first.enjoy') %>
                        </p>
                    </div>

                    <a class="close" ng-click="hideFirst=true"><i class="mdi-navigation-close"></i></a>
                    <div class="clearfix"></div>
                </div>
            </li>
            
            <li class="animate-repeat" ng-repeat="question in questions | toArray | orderBy:'-createdAt' | filter:{tags : filter} track by question.id">
                
                <div class="cbp_tmicon avatar" ng-class="getAvatar(question.user)"></div>

                <div class="cbp_tmlabel">
                    <div class="p-t-15 p-l-20 p-r-15">
                        <h4 class="inline m-b-5" style="margin-top: 0; font-size: 15px;">
                            <span class="text-success semi-bold m-r-10">
                                {{ getUsername( question.user ) }}
                            </span>
                        </h4>

                        <div class="muted inline">à&nbsp;&nbsp;{{ ::question.createdAt | date: 'mediumTime'}}</div>
                        <span class="muted semi-bold m-b-5 label m-l-5" ng-repeat="tag in ::question.tags" style="line-height: 16px; float: right;">
                            {{ getTagName( tag ) }}
                        </span>
                        
                        <p class="m-t-5 dark-text"> {{ ::question.question }} </p>
                    </div>
                    <div class="clearfix"></div>
                    <div class="p-b-10 p-l-20" style="line-height: 20px;">
                        <ul class="action-links">
                            <li class="text-error" ng-show="question.likes > 1"><i class="mdi-action-favorite"></i> {{question.likes}} <%= __('viewer.wall.likes') %></li>
                            <li class="text-error" ng-show="question.likes <= 1"><i class="mdi-action-favorite"></i> {{question.likes}} <%= __('viewer.wall.like') %></li>
                        </ul>
                        
                        <a ng-if="!isLike(question)"
                           ng-click="like(question)"
                           class="m-r-20 fright">
                            <i class="mdi-action-thumb-up"></i> <%= __('viewer.wall.like') %>
                        </a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="timeline-post">
<!--         <button class="send-wall-question btn btn-primary" id="click" >
            
        </button> -->
         <a class="waves-effect waves-light btn modal-trigger" ng-click="askQuestion()" href="#ask"><%= __('viewer.wall.ask_question') %></a>
    </div>
</div>