
<!-- BEGIN CONTENT -->
<div ng-controller="CommonController" class="page-container" ng-init="accountType = 1; activetool = 'NOTE';" ng-class="{fullscreen : isfullscreen, 'open' : openmenu, 'showcontrol' : showcontrol}" ng-mousemove="showcontrols()">

    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content" ng-click="closeMenu()">

        <% include viewer/live %>

    </div>

    <div id="menu">                 
        <ul>
            <li>
                <a ng-click="track('RESSOURCE')">
                    <span class="icon"> 
                        <i class="mdi-file-folder-open"></i>
                    </span>
                    <span><%= __('viewer.menu.resources') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('WALL')">
                    <span class="icon">
                        <i class="mdi-communication-live-help"></i>
                    </span>
                    <span><%= __('viewer.menu.wall') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('CHAT')">
                    <span class="icon">
                        <i class="mdi-action-question-answer"></i>
                    </span>
                    <span><%= __('viewer.menu.chat') %></span>
                </a>
            </li>
            <li>
               <a ng-click="track('QUIZZ')">
                    <span class="icon">
                        <i class="mdi-content-content-paste"></i>
                    </span>
                    <span><%= __('viewer.menu.quizz') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('NOTE')">
                    <span class="icon">
                        <i class="mdi-content-create"></i>
                    </span>
                    <span><%= __('viewer.menu.notes') %></span>
                </a>
            </li>
            <li>
                <a href="#logout-modal" class="modal-trigger">
                    <span class="icon">
                        <i class="avatar" ng-class="getAvatar()"></i>
                    </span>
                    <span><%= __('viewer.menu.disconnect') %></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="tools-content">

        <a href="#" class="bt-menu-trigger" ng-click="handlerMenu()"><span><span class="before"></span><span class="after"></span></span></a>

        <div class="tools-wrapper" ng-click="closeMenu()">
            <% include viewer/resources %>
            
            <% include viewer/wall-questions %>

            <% include viewer/chat %>

            <% include viewer/notes %>

            <% include viewer/quizz-list %>

            <% include viewer/quizz-inner %>

        </div>

    </div>
    <!-- END PAGE CONTAINER-->
    <% include viewer/modals/ask-question-modal %>

    <% include viewer/modals/user-modal %>

    <!-- Modal Structure -->
    <div id="logout-modal" class="modal card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title"><%= __('viewer.logout.sure') %></span>
        </div>
        <div class="card-action">
          <div class="pull-right">
            <a href="#" ng-click="logout()" class="btn"><%= __('viewer.logout.yes') %></a>
            <a href='#' class="btn red modal-action modal-close"><%= __('viewer.logout.no') %></a>
          </div>
        </div>
    </div>
    
    <div id="answer-modal" class="modal card blue-grey darken-1">
        <div class="card-content white-text">
         <span class="card-title"><%= __('viewer.quizz-inner.validate') %> ?</span>
          <p><%= __('viewer.quizz-inner.answer_modal') %></p>
        </div>
        <div class="card-action">
          <div class="pull-right">
            <a href="#" ng-click="shared.saveQuizz()" class="btn"><%= __('viewer.logout.yes') %></a>
            <a href='#' class="btn red modal-action modal-close"><%= __('viewer.logout.no') %></a>
          </div>
        </div>
    </div>

</div>
<!-- END CONTENT --> 
