
<!-- BEGIN CONTENT -->
<div ng-controller="CommonController" class="page-container row-fluid" ng-init="accountType = 1; activetool = 'NOTE';" ng-class="{fullscreen : isfullscreen, 'open' : openmenu}" >

    <!-- BEGIN PAGE CONTAINER-->
    <div class="page-content" ng-click="closeMenu()">

        <% include viewer/live %>

    </div>

    <div id="menu">                 
        <ul>
            <li>
                <a ng-click="track('RESSOURCE')">
                    <span class="icon"> 
                        <i class="mdi-file-folder-open"></i>
                    </span>
                    <span><%= __('viewer.menu.resources') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('WALL')">
                    <span class="icon">
                        <i class="mdi-communication-live-help"></i>
                    </span>
                    <span><%= __('viewer.menu.wall') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('CHAT')">
                    <span class="icon">
                        <i class="mdi-action-question-answer"></i>
                    </span>
                    <span><%= __('viewer.menu.chat') %></span>
                </a>
            </li>
            <li>
               <a ng-click="track('QUIZZ')">
                    <span class="icon">
                        <i class="mdi-content-content-paste"></i>
                    </span>
                    <span><%= __('viewer.menu.quizz') %></span>
                </a>
            </li>
            <li>
                <a ng-click="track('NOTE')">
                    <span class="icon">
                        <i class="mdi-content-create"></i>
                    </span>
                    <span><%= __('viewer.menu.notes') %></span>
                </a>
            </li>
            <li>
                <a ng-click="logout();">
                    <span class="icon">
                        <i ng-if="user.avatar.c && user.avatar.a" class="avatar" ng-class="user.avatar.c + ' avatar-'+user.avatar.a"></i>
                        <i ng-if="!user.avatar.c || !user.avatar.a" class="avatar black anonymous"></i>
                    </span>
                    <span><%= __('viewer.menu.disconnect') %></span>
                </a>
            </li>
        </ul>
    </div>

    <div class="tools-content">

        <a href="#" class="bt-menu-trigger" ng-click="handlerMenu()"><span>Menu</span></a>

        <!-- BEGIN SIDEBAR -->
        <div id="main-menu" class="hide">
            <div id="main-menu-wrapper">

                <div class="user-info-wrapper user-show" ng-click="openStats=true">
                    <a ng-if="user.avatar.c && user.avatar.a" class="avatar" ng-class="user.avatar.c + ' avatar-'+user.avatar.a"></a>
                    <a ng-if="!user.avatar.c || !user.avatar.a" class="avatar black anonymous"></a>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
        <!-- END SIDEBAR --> 

        <div class="tools-wrapper" ng-click="closeMenu()">
            <% include viewer/resources %>
            
            <% include viewer/wall-questions %>

            <% include viewer/chat %>

            <% include viewer/notes %>

            <% include viewer/quizz-list %>

            <% include viewer/quizz-inner %>

        </div>

        <div class="menu-layer" ng-show="menulabel">
            <span class="menu-label">{{ menulabel }}</span>
        </div>

    </div>
    <!-- END PAGE CONTAINER-->
    <% include viewer/modals/ask-question-modal %>

    <% include viewer/modals/user-modal %>
</div>
<!-- END CONTENT --> 
