<div id="answer-modal" class="modal card blue-grey darken-1">
    <div class="card-content white-text">
        <span class="card-title"><%= __('viewer.quizz-inner.validate_modal') %></span>
        <p><%= __('viewer.quizz-inner.alert_modal') %></p>
        <p><%= __('viewer.quizz-inner.answer_modal') %></p>
    </div>
    <div class="card-action">
        <div class="pull-right">
            <a href="#" class="btn" ng-click="shared.saveQuizz()"><%= __('viewer.logout.yes') %></a>
            <a href='#' class="btn red modal-action modal-close"><%= __('viewer.logout.no') %></a>
        </div>
    </div>
</div>