<div ng-controller="AskQuestionModalController" class="modal askModal" style="display:block;" id="ask">
    <form role="form" class="modal-content">

        <h4 id="myQuestionModalLabel">
            <i class="mdi-communication-live-help m-r-10"></i>
            <%= __('viewer.modal.wall.title') %>
        </h4>
        <p class="m-b-30 m-l-55">
        <%= __('viewer.modal.wall.description') %>
        </p>

        <div class="row m-b-40">
            <div class="col-md-12 input-field">
                <i class="mdi-image-style prefix"></i>
                <select id="wall-category-select"
                        class="select2"
                        placeholder="<%= __('viewer.modal.wall.select_category') %>" multiple>
                    <option ng-repeat="tag in shared.tags"
                            value="{{ ::tag.id }}">{{ ::tag.name }}</option>
                </select>
            </div>
        </div>

        <div class="row m-b-40">
            <div class="col-md-12 input-field">
                <i class="mdi-editor-mode-edit prefix"></i>
                        <textarea ng-model="text" id="icon_prefix2" class="materialize-textarea"></textarea>
                        <label for="icon_prefix2"><%= __('viewer.modal.wall.your_question') %></label>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" ng-click="post();" class="btn btn-primary modal-action">
                <%= __('viewer.modal.wall.submit') %>
            </button>

            <button type="button" ng-click="shared.wantToAskQuestion = false" class="btn btn-danger modal-action modal-close">
                <%= __('viewer.modal.wall.cancel') %>
            </button>
        </div>
           
    </form>
</div>
