<div ng-controller="UserModalController" class="modal show" id="userinfo-modal" ng-show="firstInit">
    <form role="form">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">

                    <h4 id="myUserModalLabel">
                        <%= __('viewer.modal.user.welcome') %>
                    </h4>
                    <p class="no-margin"><%= __('viewer.modal.user.choice') %></p>
                </div>

                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"  ng-click="resetToClassic()"><i class="mdi-action-face-unlock"></i><%= __('viewer.modal.user.classic') %></div>
                        <div class="collapsible-body p-t-15 p-b-15">
                            <div class="row">
                                <div class="col s12">
                                    <h6><%= __('viewer.modal.user.informations') %></h6>
                                    
                                    <div class="input-field col s6">
                                        <input ng-model="user.lastname" id="lastname" type="text" class="validate">
                                        <label for="lastname"><%= __('viewer.modal.user.lastname') %></label>
                                     </div>
                                     <div class="input-field col s6">
                                        <input ng-model="user.firstname" id="firstname" type="text" class="validate">
                                        <label for="firstname"><%= __('viewer.modal.user.firstname') %></label>
                                     </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="input-field col s6">
                                        <input ng-model="user.society" id="society" type="text" class="validate">
                                        <label for="society"><%= __('viewer.modal.user.society') %></label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="height: 75px; overflow: hidden;">
                                <div class="col use-username"  ng-class="{'s1':useUsername}">
                                    <div class="input-field">
                                        <input type="checkbox" 
                                               ng-model="useUsername"
                                               ng-change="useUsernameChanged()"
                                               id="checkbox-pseudo" />
                                        <label for="checkbox-pseudo"><%= __('viewer.modal.user.username_label') %></label>
                                    </div>
                                </div>

                                <div class="col s11 input-field" ng-show="useUsername" ng-cloak>
                                    <input type="text" class="validate" id="useUsername" ng-model="user.username"/> 
                                    <label for="useUsername" ><%= __('viewer.modal.user.username_placeholder') %></label>
                                </div>
                                
                            </div>
                            <div class="row m-t-10">
                                <div class="col s12">
                                    <h6 class="p-b-10"><%= __('viewer.modal.user.avatar') %></h6>
                                    <div class="avatar-choice m-l-10">
                                        <a class="avatar"
                                           ng-class="getAvatar()"
                                           ng-click="changeAvatar=true"></a>
                                        <ul class="avatar-choice-list" 
                                            ng-show="changeAvatar" 
                                            ng-click="changeAvatar=false">

                                        <%
                                        var avatars = {
                                            gender: [ 'm', 'f'],
                                            type: [ 1, 2, 3, 4, 5, 6, 7, 8, 9 ]
                                        };

                                        for(var i = 0; i < avatars.gender.length; i++) {
                                            for(var j = 0; j < avatars.type.length; j++) {
                                                var avatar = avatars.gender[i] + avatars.type[j]
                                        %>
                                            <li>
                                                <a ng-click="user.avatar.a='<%= avatar %>'"
                                                   class="avatar avatar-<%= avatar %>"></a>
                                            </li>
                                        <%
                                            }
                                        }
                                        %>
                                        </ul>
                                    </div>
                                    <ul class="color-choice">
                                    <% 
                                    var colors = ['red', 'purple', 'blue', 'green', 'black',
                                                  'dark-blue', 'light-blue', 'light-red', 'grey'];

                                    for(var i = 0; i < colors.length; i++) {
                                        var color = colors[i];
                                    %>
                                        <li ng-class="{selected:user.avatar.c=='<%= color %>'}"
                                            ng-click="user.avatar.c='<%= color %>'"
                                            class="tiles <%= color %>"></li>
                                    <%
                                    }
                                    %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"  ng-click="generateAnonym()"><i class="mdi-action-account-circle"></i><%= __('viewer.modal.user.anonym') %></div>
                        <div class="collapsible-body p-l-10 p-r-10">
                            <div class="row m-t-10">
                                <div class="input-field col s6">
                                    <input ng-model="user.username" id="ano-username" type="text" class="validate valid">
                                    <label class="active" for="ano-username"><%= __('viewer.modal.user.username') %></label>
                                 </div>
                            </div>
                            <div class="p-l-20 p-r-10 m-b-30">
                                <input type="checkbox" id="checkbox-anonyme" ng-model="agreeAnonyme" />
                                <label for="checkbox-anonyme"><%= __('viewer.modal.user.anonym_cgu') %></label>
                            </div>
                        </div>
                    </li>
                </ul>

                <button type="button" 
                        class="btn btn-primary pull-right m-r-10 m-t-10"
                        ng-click="saveUser();"
                        ng-disabled="!canSave()">
                    <%= __('viewer.modal.user.save') %>
                </button>
            </div>
            
        </div>
        
    </form>
</div>
<div class="modal-backdrop" ng-show="firstInit"></div>